.max{
    max-width: 40rem;
}
#special div.after\:top-0\.5::after {
    content: var(--tw-content);
    top: 0.625rem;
  }
  @media screen and (max-width: 900px) {
    .small-nav{
        margin-top: 8rem;
    }
  }